<% @title="Poseidon - Credit Cards" %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 apple_pagination">
    <%= will_paginate @credit_cards %>
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-inverse">
      <tr>
        <th>Card Type</th>
        <th>Number</th>
        <th>Expiry Date</th>
        <th>CVV</th>
        <th>Return Code</th>
        <th>Description</th>
        <th>Environment</th>
      </tr>
      </thead>
      <tbody>
      <% @credit_cards.each do |credit_card| %>
          <tr>
            <td scope="row">
              <div style="height: 50px; overflow:auto;">
                <%= credit_card.card_type %>
              </div>
            </td>
            <td>
              <div style="height: 50px; overflow:auto;">
                <%= credit_card.card_number %>
              </div>
            </td>
            <td>
              <div style="height: 50px; overflow:auto;">
                <%= credit_card.expiry_date.strftime('%m/%Y') %>
              </div>
            </td>
            <td>
              <div style="height: 50px; overflow:auto;">
                <%= credit_card.cvv %>
              </div>
            </td>
            <td>
              <div style="height: 50px; overflow:auto;">
                <%= credit_card.return_code %>
              </div>
            </td>
            <td>
              <div style="height: 50px; overflow:auto;">
                <%= credit_card.notes %>
              </div>
            </td>
            <td>
              <div style="height: 50px; overflow:auto;">
                <%= credit_card.environment.name %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @credit_cards %>
  </div>
  <div class="col-md-1"></div>
</div>