<% @title="Poseidon - Promos" %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 apple_pagination">
    <%= will_paginate @promos %>
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-inverse">
      <tr>
        <th>Promo Code</th>
        <th>Product</th>
        <th>Environment</th>
      </tr>
      </thead>
      <tbody>
      <% @promos.each do |promo| %>
          <tr>
            <td scope="row"><%= promo.code %></td>
            <td><%= promo.product %></td>
            <td><%= promo.environment.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @promos %>
  </div>
  <div class="col-md-1"></div>
</div>