<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 apple_pagination">
    <%= will_paginate @sims %>
    <table class="table table-bordered table-inverse">
      <thead class="thead-inverse">
      <tr>
        <th>Sim Number</th>
        <th>Sim Type</th>
        <th>Environment</th>
        <th>Notes</th>
        <th>Reserved?</th>
      </tr>
      </thead>
      <tbody>
      <% @sims.each do |sim| %>
          <tr>
            <td scope="row"><%= sim.sim_number %></td>
            <td><%= sim.sim_type %></td>
            <td><%= sim.environment.name %></td>
            <td><%= sim.notes %></td>
            <td><%= sim.in_use %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @sims %>
  </div>
  <div class="col-md-1"></div>
</div>