<div id="header" class="container-fluid">
  <div class="row header-row">
    <div class="col-md-2">
      <%= image_tag 'amaysim_logo.png', id: "company-image", class: "img-rounded m-x-auto d-block", alt: "Amaysim Logo" %>
    </div>
    <div class="col-md-8">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <%= image_tag 'poseidon.png', id: "title-image-mirror", class: "m-x-auto d-block", alt: "Poseidon Logo" %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'poseidon_text_logo.png', id: "title-image", class: "img-rounded m-x-auto d-block", alt: "Poseidon Text Logo" %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'poseidon.png', id: "title-image", class: "m-x-auto d-block", alt: "Poseidon Logo" %>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-2">
      <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>