<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Sim Cards', sims_path, class: "nav-link #{'active' if current_page?(controller: 'sims')}" %>
  </li>
  <li class="nav-item dropdown">
    <%= link_to 'Payment Methods', '#', class: "nav-link dropdown-toggle #{'active' if current_page?(controller: 'credit_cards') or current_page?(controller: 'direct_debits') or current_page?(controller: 'paypal_accounts')}", role: "button", 'data-toggle' => "dropdown",  'aria-haspopup' => "true", 'aria-expanded' => "false" %>
    <div class="dropdown-menu">
      <%= link_to 'Credit Cards', credit_cards_path, class: "dropdown-item #{'active' if current_page?(controller: 'credit_cards')}" %>
      <%= link_to 'Direct Debit', direct_debits_path, class: "dropdown-item #{'active' if current_page?(controller: 'direct_debits')}" %>
      <%= link_to 'Paypal', paypal_accounts_path, class: "dropdown-item #{'active' if current_page?(controller: 'paypal_accounts')}" %>
    </div>
  </li>
  <li class="nav-item">
    <%= link_to 'Vouchers', vouchers_path, class: "nav-link #{'active' if current_page?(controller: 'vouchers')}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Promos', promos_path, class: "nav-link #{'active' if current_page?(controller: 'promos')}" %>
  </li>
</ul>