<!DOCTYPE html>
<html>
<head>
  <title>Poseidon</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="bg">
<div class="container-fluid">
  <div class="row">
    <%= render :partial => 'layouts/header'%>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-1"></div>
  <div class="row col-md-10" id="content">
    <div class="row" id="tabs">
      <%= render :partial => 'layouts/tabs'%>
    </div>
    <%= yield %>
  </div>
  <div class="col-md-1"></div>
</div>
  <div class="container-fluid">
    <div class="row">
      <%= render :partial => 'layouts/footer'%>
    </div>
  </div>
</div>
</body>
</html>
