<% @title="Poseidon - Vouchers" %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 apple_pagination">
    <%= will_paginate @vouchers %>
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-inverse">
      <tr>
        <th>Voucher Code</th>
        <th>Product</th>
        <th>Environment</th>
        <th>Value</th>
        <th>Type</th>
        <th>Expiry Date</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <% @vouchers.each do |voucher| %>
          <tr>
            <td scope="row">
              <div style="height: 50px; overflow:auto;">
                <%= voucher.code %>
              </div>
            </td>
            <td><%= voucher.product %></td>
            <td><%= voucher.environment.name %></td>
            <td><%= number_to_currency voucher.value %></td>
            <td><%= voucher.voucher_type %></td>
            <td><%= voucher.expiry_date.strftime('%d/%m/%Y') %></td>
            <td><%= voucher.notes %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @vouchers %>
  </div>
  <div class="col-md-1"></div>
</div>