<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 apple_pagination">
    <%= will_paginate @vouchers %>
    <table class="table table-bordered table-inverse">
      <thead class="thead-inverse">
      <tr>
        <th>Voucher Code</th>
        <th>Product</th>
        <th>Environment</th>
      </tr>
      </thead>
      <tbody>
      <% @vouchers.each do |voucher| %>
          <tr>
            <td scope="row"><%= voucher.code %></td>
            <td><%= voucher.product %></td>
            <td><%= voucher.environment.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @vouchers %>
  </div>
  <div class="col-md-2"></div>
</div>